<%= form_for(item) do |f| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="field">
    <%= f.label :kind %>
    <%= f.text_field :kind %>
  </div>

  <div class="field">
    Food or drink?
    <br>
    <%= radio_button_tag(:kind, "food") %>
    <%= label_tag(:kind, "Food") %>
    <%= radio_button_tag(:kind, "drink") %>
    <%= label_tag(:kind, "Drink") %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
